http_address="0.0.0.0:4180"
cookie_secret="OQINaROshtE9TcZkNAm-5Zs2Pv3xaWytBmc5W7sPX7w="
email_domains=["*"]
upstreams="http://upstream-app"
cookie_domains=["oauth2-proxy.localhost"] # Required so cookie can be read on all subdomains.
whitelist_domains=[".keycloak.localhost:*",".oauth2-proxy.localhost:*"] # Required to allow redirection back to original requested target.

scope="openid offline_access"
#prompt="login"
pass_access_token="true"
pass_authorization_header="true"
cookie_secure="true"
cookie_samesite="none"
cookie_expire="300m"
cookie_refresh="1m"

session_store_type="redis"
redis_connection_url="redis://pedb_redis_1:6379/0"
#redis-password=""

# skip_provider_button="true"

# keycloak provider
clients=[
    {provider='keycloak',client_id='oauth2-proxy',client_secret='72341b6d-7065-4518-a0e4-50ee15025608',client_secret_file='',redirect_uri='http://oauth2-proxy.oauth2-proxy.localhost/oauth2/callback'},
    {provider='keycloak',client_id='oauth2-proxy-local',client_secret='8357212c-a082-43ac-bb99-69e16ec8c321',client_secret_file='',redirect_uri='http://localhost:4181/oauth2/callback'}
]
client_secret="72341b6d-7065-4518-a0e4-50ee15025608"
client_id="oauth2-proxy"
redirect_url="http://oauth2-proxy.oauth2-proxy.localhost/oauth2/callback"

# in this case oauth2-proxy is going to visit
# http://keycloak.localtest:9080/auth/realms/master/.well-known/openid-configuration for configuration
oidc_issuer_url="http://keycloak.localhost:9080/auth/realms/master"
provider="oidc"
# insecure_oidc_skip_issuer_verification="true"
provider_display_name="Keycloak"